@charset "UTF-8";
/* Scss Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'YuGothic M';
  src: local("Yu Gothic Medium"); }

@font-face {
  font-family: "NotoSansCJK-Regular";
  src: url("../fonts/NotoSansCJKjp-Regular.eot") format("eot"), url("../fonts/NotoSansCJKjp-Regular.woff") format("woff"); }

body {
  font-family: 'Kameron', 'NotoSansCJK-Regular', 'Verdana', 'Arial', '游ゴシック Medium', '游ゴシック体', 'YuGothic', 'YuGothic M','メイリオ', 'Meiryo', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'Roboto', 'Droid Sans', 'sans-serif'; }

.container {
  width: 1350px;
  margin: 0 auto; }

a {
  text-decoration: none; }

header {
  width: 100%;
  text-align: center;
  margin-bottom: 30px; }
  header .header {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-box-shadow: 0 1px 17px 0 rgba(50, 50, 50, 0.15);
    box-shadow: 0 1px 17px 0 rgba(50, 50, 50, 0.15); }

header .header .logo {
  margin-left: 40px; }

header .header .gnav {
  width: 650px; }
  header .header .gnav ul {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto; }
    header .header .gnav ul li {
      width: 130px;
      text-align: center;
      border-left: 0.2px solid #000; }
      header .header .gnav ul li:last-child {
        border-right: 0.2px solid #000; }
      header .header .gnav ul li a {
        height: 19px;
        color: #2d2d2d;
        display: block;
        line-height: 19px;
        font-size: 85%; }
        header .header .gnav ul li a:hover {
          opacity: 0.5; }

header .header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 80%;
  color: #fff;
  margin-right: 40px;
  letter-spacing: 2px;
  text-align: center; }
  header .header .header-right .tel {
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-family: "NotoSansCJK-Regular";
    font-weight: bold;
    background: #1f4fa4; }
    header .header .header-right .tel .telicon {
      font-size: 80%;
      padding-right: 5px; }
  header .header .header-right a {
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin-left: 16px;
    color: #fff;
    background: #1f4fa4;
    display: block; }
    header .header .header-right a .mailicon {
      padding-right: 5px; }
    header .header .header-right a span {
      font-weight: bold;
      border-radius: 8px;
      background: #fff;
      color: #1f4fa4;
      padding: 0 8px;
      margin-right: 5px; }

header h2 {
  position: absolute;
  font-family: "Sawarabi Mincho";
  font-size: 220%;
  color: #fff;
  top: 50%;
  right: 20px; }

.num {
  width: 100%; }
  .num ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-bottom: 95px; }
    .num ul li {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background: #e87d0c;
      color: #fff;
      margin-right: 30px;
      font-size: 1.4em;
      font-weight: bold;
      display: inline-block;
      position: relative;
      line-height: 1.5; }
      .num ul li:last-child {
        margin-right: 0; }
      .num ul li span {
        font-size: 2em; }
      .num ul li .mid {
        font-size: 120%; }
      .num ul li h3 {
        position: absolute;
        top: 50%;
        left: 0%;
        width: 250px;
        text-align: center;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }

.menu {
  display: none;
  padding: 95px 240px;
  width: 980px;
  margin: 0 auto; }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .menu ul li {
      border: 3px solid #fff;
      margin-right: 76px;
      margin-bottom: 76px;
      padding: 0;
      position: relative; }
      .menu ul li:nth-child(3n) {
        margin-right: 0; }
      .menu ul li:nth-child(n+4) {
        margin-bottom: 0; }
      .menu ul li a {
        line-height: 0;
        display: block; }
        .menu ul li a h3 {
          padding: 0.8em 10px;
          font-size: 100%;
          background-color: #000;
          color: #fff;
          position: absolute;
          bottom: 10px;
          left: -20px;
          line-height: 1em; }

main {
  width: 100%;
  margin-bottom: 95px; }
  main .main1 {
    width: 980px;
    margin: 0 auto 95px; }
    main .main1 h3 {
      font-size: 3em;
      font-weight: bold;
      text-align: center;
      color: #ff0000;
      line-height: 1.5em; }
    main .main1 h4 {
      font-family: "Sawarabi Mincho";
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      margin-bottom: 70px; }
    main .main1 ul li img {
      margin-bottom: 20px; }
    main .main1 ul li p {
      font-size: 100%;
      font-weight: 800;
      color: #000;
      text-align: center;
      line-height: 1.5; }
      main .main1 ul li p span {
        font-size: 1.9em;
        color: #1f4fa4; }
    main .main1 .up {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      main .main1 .up li {
        margin-right: 20px;
        margin-bottom: 45px; }
        main .main1 .up li:last-child {
          margin-right: 0; }
    main .main1 .dwn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      main .main1 .dwn li {
        margin-right: 20px; }
        main .main1 .dwn li:last-child {
          margin-right: 0; }
  main .main2 {
    width: 980px;
    margin: 0 auto 95px;
    position: relative;
    counter-reset: section; }
    main .main2 h3 {
      font-size: 3em;
      font-weight: bold;
      text-align: center;
      color: #ff0000;
      margin-bottom: 45px; }
    main .main2 ul {
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      main .main2 ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border: 0.5px solid #1f4fa4;
        border-radius: 5px;
        padding: 40px;
        margin: 90px auto 50px;
        position: relative; }
        main .main2 ul li div {
          height: 300px; }
          main .main2 ul li div:before {
            counter-increment: section;
            content: counter(section);
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            position: absolute;
            top: -25px;
            left: -25px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            color: #fff;
            background: #e87d0c;
            line-height: 1.3; }
          main .main2 ul li div h4 {
            font-size: 150%;
            font-weight: bold;
            color: #e87d0c;
            margin-bottom: 30px; }
          main .main2 ul li div p {
            line-height: 1.8;
            font-size: 85%; }
          main .main2 ul li div .m3 {
            padding-top: 25px; }

aside {
  text-align: center;
  margin-bottom: 95px; }
  aside a {
    display: inline-block;
    color: #fff;
    background: #1f4fa4;
    text-align: center;
    padding: 22px;
    font-family: "Sawarabi Mincho";
    font-size: 1.4em;
    letter-spacing: 3px;
    line-height: 2; }

footer {
  width: 100%;
  margin: 0 auto;
  background: #f3f8f8;
  letter-spacing: 0.5px;
  line-height: 1.2; }
  footer .pagetop {
    width: 980px;
    height: 70px;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 auto; }
    footer .pagetop a {
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      width: 980px;
      height: 100%;
      color: #8f8f8f;
      display: block;
      padding: 20px 0;
      margin: 0 auto;
      text-align: center;
      font-size: 70%; }
      footer .pagetop a .top {
        font-size: 1.8em;
        color: #2d2d2d;
        padding-bottom: 5px; }
  footer .footer-up {
    width: 100%;
    background: #f6f6f6;
    padding: 30px 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .footer-up .fb {
      display: block;
      font-size: 45px;
      color: #1f4fa4;
      width: 150px;
      height: 45px;
      text-align: center;
      line-height: 45px; }
    footer .footer-up a {
      margin-right: 50px; }
      footer .footer-up a:last-child {
        margin-right: 0; }
      footer .footer-up a div {
        height: 45px; }
    footer .footer-up .footer-l {
      display: block;
      text-align: center;
      padding: 20px 0; }
    footer .footer-up img {
      display: block;
      text-align: center;
      margin: 0 auto; }
    footer .footer-up p {
      height: 33.6px;
      font-size: 70%;
      text-align: center;
      margin-top: 16px;
      color: #8f8f8f; }
  footer .footer-dwn {
    width: 100%;
    background: #f6f6f6;
    color: #8f8f8f;
    font-size: 70%;
    border-top: 1px solid #e6e6e6;
    text-align: center;
    overflow: hidden;
    padding: 40px auto; }
    footer .footer-dwn div {
      float: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 35px 0; }
      footer .footer-dwn div h4 {
        text-align: left;
        margin-left: 40px; }
      footer .footer-dwn div p {
        width: 200px; }
        footer .footer-dwn div p a {
          color: #8f8f8f; }
    footer .footer-dwn small {
      margin-right: 20px;
      padding: 35px;
      float: right; }

.page2, .page3 {
  color: #2d2d2d; }

.married {
  width: 1200px;
  margin: 0 auto 95px;
  counter-reset: count; }
  .married .intro {
    color: #8f8f8f;
    font-family: "Sawarabi Mincho";
    font-size: 1em;
    text-align: center;
    margin: 0 auto 70px;
    line-height: 1.5; }
  .married h3 {
    font-family: "NotoSansCJK-Regular";
    font-size: 1.8em;
    font-text-align: left;
    margin-bottom: 40px; }

.phase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto 95px;
  position: relative; }
  .phase:before {
    content: "";
    width: 70px;
    background: #e87d0c;
    opacity: 0.3; }
  .phase:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 35px 0 35px;
    border-color: #e87e0c transparent transparent transparent;
    line-height: 0px;
    _border-color: #e87e0c #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    opacity: 0.3;
    bottom: -35px;
    left: 0; }

.phase h4 {
  font-family: "NotoSansCJK-Regular";
  font-size: 2.4em;
  color: #e87d0c;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 15px; }
  .phase h4 span {
    font-size: 40%;
    font-weight: bold;
    letter-spacing: 1.2px; }
    .phase h4 span:after {
      content: "\A";
      white-space: pre; }

.phase dl {
  width: 640px;
  padding: 40px;
  position: relative;
  font-family: "NotoSansCJK-Regular"; }
  .phase dl dt {
    font-size: 1.5em;
    font-weight: bold;
    color: #2d2d2d;
    padding-left: 60px; }
    .phase dl dt:before {
      content: "";
      position: absolute;
      top: 25px;
      left: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #e87d0c;
      margin-left: 40px; }
  .phase dl dd {
    color: #8f8f8f;
    font-size: 0.9em;
    font-weight: thin;
    padding: 30px;
    line-height: 2;
    letter-spacing: 0.2; }

.phase dl {
  position: relative; }
  .phase dl .count:before {
    counter-increment: count;
    content: counter(count);
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 2; }

.price {
  max-width: 1200px;
  width: 100%;
  margin: 95px auto;
  font-family: "NotoSansCJK-Regular"; }
  .price h3 {
    width: 100%;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-bottom: 95px;
    color: #2d2d2d;
    font-size: 2em; }
    .price h3:before {
      content: "";
      position: absolute;
      bottom: -1em;
      left: 50%;
      display: inline-block;
      width: 60px;
      height: 2px;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background: #ff0000; }

.price dl {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  letter-spacing: 1.2px;
  border: 1px solid #e87d0c;
  background: #e87d0c;
  margin: 0 auto; }
  .price dl dt {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    font-size: 2em;
    color: #fff;
    background: #e87d0c;
    padding: 20px;
    position: relative; }
    .price dl dt strong {
      display: inline-block;
      padding-left: 100px;
      font-size: 1.3em;
      font-weight: bold; }
    .price dl dt span {
      display: inline-block;
      font-size: 0.6em;
      font-weght: bold; }
    .price dl dt a {
      display: block;
      color: #fff;
      background: rgba(232, 125, 12, 0.3);
      font-size: 0.6em;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 15px 20px; }
      .price dl dt a .plus {
        display: inline-block;
        padding: 0 10px;
        font-size: 1.5em; }

.price dl dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  color: #2d2d2d;
  background: #fff;
  border: 1px solid #e87d0c;
  padding: 40px;
  text-align: center;
  font-size: 1.5em; }
  .price dl dd div {
    padding: 0 50px;
    line-height: 2; }
    .price dl dd div span {
      display: block;
      font-size: 0.8em;
      color: #e87d0c; }
    .price dl dd div strong {
      display: block;
      font-size: 1.5em;
      color: #e87d0c;
      line-height: 1; }
      .price dl dd div strong span {
        display: inline;
        font-size: 0.6em; }
  .price dl dd .plus2 {
    font-size: 2em;
    color: #8f8f8f;
    opacity: 0.5; }

.price .marriage {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 95px; }
  .price .marriage dt {
    width: 25%;
    display: inline-block; }
  .price .marriage dd {
    width: 50%;
    display: inline-block;
    text-align: left;
    color: #fff;
    background: #e87d0c;
    font-size: 1.3em; }
    .price .marriage dd strong {
      font-size: 2em;
      font-weight: bold; }

.price section > div {
  color: #2d2d2d;
  width: 100%;
  text-align: center;
  margin-bottom: 95px;
  line-height: 2; }
  .price section > div h4 {
    font-size: 2em; }

.price ul {
  width: 100%;
  text-align: center;
  margin-bottom: 95px;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 2; }

.price {
  counter-reset: counter; }
  .price .must {
    color: #ff0000; }
  .price ol {
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin: 0 auto 95px; }
    .price ol li {
      width: 100%;
      text-align: left;
      font-size: 1.2em;
      font-weight: bold;
      color: #ff0000;
      opacity: 0.6;
      line-height: 2; }
      .price ol li:before {
        counter-increment: counter;
        content: counter(counter) ".";
        line-height: 2;
        font-size: 1.5em;
        color: #ff0000;
        margin-right: 10px; }

.price div .privacy {
  color: #2d2d2d; }
  .price div .privacy .right {
    color: #ff0000;
    opacty: 0.6;
    margin-right: 10px; }

.page4 {
  margin-bottom: 175px; }

.company {
  width: 100%;
  margin: 0 auto; }
  .company h2 {
    width: 980px;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto 95px; }

.company {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .company section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin: 0 auto;
    font-family: "NotoSansCJK-Regular";
    margin-bottom: 95px; }
    .company section table tr {
      width: 980px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: left;
      border: 1px solid #fff;
      background: #e4e4e4; }
      .company section table tr th {
        width: 200px;
        font-size: 1.2em;
        padding: 20px; }
      .company section table tr td {
        width: 780px;
        background: #f3f8f8;
        padding: 20px;
        line-height: 1.5; }

.company figure {
  width: 980px;
  margin: 0 auto 95px; }

.enquiry {
  width: 100%; }
  .enquiry h2 {
    width: 1024px;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto 95px; }

form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1024px;
  margin: 0 auto; }
  form fieldset {
    width: 100%;
    display: table;
    border-collapse: collapse;
    margin-bottom: 50px; }
    form fieldset dl {
      display: table-row; }
      form fieldset dl dt {
        display: table-cell;
        width: 25%;
        background: #f5f5f5;
        border: 1px solid #ccc;
        padding: 0 24px;
        vertical-align: top; }
        form fieldset dl dt strong {
          background: #fff;
          padding: 1px 3px;
          color: #ff0000;
          border: 1px solid #ff0000; }
      form fieldset dl dd {
        display: table-cell;
        border: 1px solid #ccc;
        padding: 24px;
        color: #4c4c4c; }

.enquiry form fieldset .radio {
  margin-right: 5px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  cursor: pointer; }
  .enquiry form fieldset .radio:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    margin-top: -9px;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 100%; }

.enquiry form fieldset dl .postalcode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.enquiry form fieldset dl dd .radiobutton {
  display: none; }

.enquiry form fieldset dl dd textarea {
  width: 100%;
  height: 10em;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 6px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff; }

.enquiry form fieldset dl dd input {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 4px;
  min-height: 44px;
  padding: 6px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.enquiry form fieldset dl dd .inputname {
  border-collapse: collapse; }
  .enquiry form fieldset dl dd .inputname .name {
    margin-right: 10px; }
  .enquiry form fieldset dl dd .inputname span {
    width: 35%;
    display: inline-block; }
    .enquiry form fieldset dl dd .inputname span input {
      width: 100%;
      display: inline-block; }

.enquiry form .form2 p {
  margin-bottom: 20px; }

.enquiry form .form2 .tel div {
  display: table-cell; }

.enquiry form .form2 .tel .hyphen {
  min-height: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .enquiry form .form2 .tel .hyphen span {
    padding: 0 20px; }

.enquiry form .form2 .code {
  width: 15%; }

.enquiry form .form2 .adress {
  position: relative; }
  .enquiry form .form2 .adress:before {
    position: absolute;
    content: "";
    top: 50%;
    right: 10px;
    display: block;
    width: 0;
    height: 0;
    margin: -2px 0 0 0;
    border: 5px solid transparent;
    border-top: 7px solid #000; }
  .enquiry form .form2 .adress .state {
    width: 100%;
    display: block;
    padding: 16px;
    line-height: 1.6; }

.privacy {
  width: 980px;
  margin: 0 auto 95px;
  line-height: 1.5; }
  .privacy h2 {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 auto 95px; }
  .privacy h3 {
    color: #1f4fa4;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 auto 35px; }
  .privacy p {
    margin-bottom: 35px;
    letter-spacing: 1px; }
  .privacy h4 {
    color: #ff0000;
    margin-bottom: 10px; }
  .privacy h5 {
    color: #e87d0c; }

.privacy .policy {
  counter-reset: privacy; }
  .privacy .policy li {
    color: #2d2d2d;
    padding-left: 2em;
    text-indent: -2em;
    margin-bottom: 20px; }
    .privacy .policy li:before {
      counter-increment: privacy;
      content: counter(privacy) ".";
      font-weight: bold;
      margin-right: 1em; }
    .privacy .policy li p {
      margin-top: 10px;
      color: #2d2d2d; }

.privacy dl {
  margin-bottom: 35px; }

.privacy .security {
  counter-reset: security; }
  .privacy .security li {
    color: #e87d0c; }
    .privacy .security li:before {
      counter-increment: security;
      content: counter(security) ".";
      font-weight: bold;
      margin-right: 1em; }
  .privacy .security p {
    color: #2d2d2d;
    margin-top: 10px; }
