/* Scss Document */
@charset "utf-8";

//---------------------------共通----------------------------------// 
//-------------------------Reset CSS-------------------------------//
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//-------------------------------Reset CSS--------------------------//

//---------------------------共通----------------------------------// 

//変数

$red: #ff0000;
$blue: #1f4fa4;
$orange: #e87d0c;
$black: #2d2d2d;
$gray: #8f8f8f;

//フォント
@font-face {
  font-family: 'YuGothic M';
  src: local('Yu Gothic Medium');
}
@font-face{
    font-family: "NotoSansCJK-Regular";
    src: url("../fonts/NotoSansCJKjp-Regular.eot")format('eot'),url("../fonts/NotoSansCJKjp-Regular.woff")format('woff');
}
body{//body
    font-family: 'Kameron', 'NotoSansCJK-Regular', 'Verdana', 'Arial', '游ゴシック Medium', '游ゴシック体', 'YuGothic', 'YuGothic M','メイリオ', 'Meiryo', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'Roboto', 'Droid Sans', 'sans-serif';
}
//フォント変数
$serif: 'Kameron';
$gothic: 'NotoSansCJK-Regular';
$mincho: 'Sawarabi Mincho';

.container{//全体
    width: 100%;
    margin: 0 auto;
}

a{//共通aタグ
    text-decoration: none;
}
//---------------------------共通----------------------------------// 

//ヘッダー
header img{
    width: 100%;
    margin: 0 auto;
}
header{
    margin-bottom: 30px;
.header{//ヘッダーメニュー
        background: #fff;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        box-shadow: 0 1px 17px 0 rgba(50, 50, 50, .15);
    .gnav{
        width: 650px;
        ul{
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            li{
                width: 130px;
                text-align: center;
                border-left: 0.2px solid #000;
                &:last-child{
                    border-right: 0.2px solid #000;
                }//&:last-child
                 a{
                    height: 19px;
                    color: $black;
                    display: block;
                    line-height: 19px;
                    font-size: 85%;
                     &:hover{
                         opacity: 0.5;
                     }//hover
                }//a   
            }//li
        }//ul
    }//.gnav

    .header-right{//ヘッダー右メニュー
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80%;
        color: #fff;
        margin-right: 40px;
        letter-spacing: 2px;
        text-align: center;
        .tel{//tel
            width: 150px;
            height: 30px;
            line-height: 30px;
            font-family: $gothic;
            font-weight: bold;
            background: $blue;
            .telicon{
                font-size: 80%;
                padding-right: 5px;
            }//.telicon
        }//.tel
        a{
            width: 150px;
            height: 30px;
            line-height: 30px;
            margin-left: 16px;
            color: #fff;
            background: $blue;
            display: block;
            .mailicon{
                padding-right: 5px; 
            }//.mailicon
            span{
                font-weight: bold;
                border-radius: 8px;
                background: #fff;
                color: $blue;
                padding: 0 8px;
                margin-right: 5px;
            }//span
        }//a
    }//.header-right
    }//.header
    h2{
        position: absolute;
        font-family: $mincho;
        font-size: 220%;
        color: #fff;
        top: 50%;
        right: 20px;
    }//h2  
}//    header

.logo{//ヘッダーフッダーロゴ
        display: block;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 400px;
        height: 80px;
        margin-left: 40px;
    }//.logo
//---------------------------共通----------------------------//

//---------------------------index.html----------------------------//

.num{//.num
    width: 100%;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 95px;
        li{
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background: #e87d0c;
            color: #fff;
            margin-right: 30px;
            font-size: 1.4em;
            font-weight: bold;
            display: inline-block;
            position: relative;
            line-height: 1.5;
            &:last-child{
                margin-right: 0;
            }//li:last-child
            span{
                font-size: 2em;
            }//span
            .mid{
                font-size: 120%;
            }//.mid
            h3{
                position: absolute;
                top: 50%;
                left: 0%;
                width: 250px;
                text-align: center;
                -ms-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }//h3
        }//li
    }//ul
}//.num

//トップメニュー
.menu{
    display: none;
    padding: 95px 240px;
    width: 980px;
    margin: 0 auto;
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
         border: 3px solid #fff;
         margin-right: 76px;
         margin-bottom: 76px;
         padding: 0;
         position: relative;
            &:nth-child(3n){
                margin-right: 0;
            }//nth-child(3n)
            &:nth-child(n+4){
                margin-bottom: 0;
            }//nth-child(n+4)
        a{
            line-height: 0;
            display: block;
            h3{
                padding: 0.8em 10px;
                font-size: 100%;
                background-color: #000;
                color: #fff;
                position: absolute;
                bottom: 10px;
                left: -20px;
                line-height: 1em;
            }//h3
        }//a
        }//li
    }//ul
}//menu


main{
    width: 100%;
    margin-bottom: 95px;
    .main1{
        width: 980px;
        margin: 0 auto 95px;
        h3{
            font-size: 3em;
            font-weight: bold;
            text-align: center;
            color: $red;
            line-height: 1.5em;
        }//h3
        h4{
            font-family: $mincho;
            font-size: 1em;
            font-weight: bold;
            text-align: center;
            margin-bottom: 70px;
        }//h4
        ul{
            li{
                img{
                    margin-bottom: 20px;
                }//img
                    p{
                        font-size: 100%;
                        font-weight: 800;
                        color: #000;
                        text-align: center;
                        line-height: 1.5;
                    span{
                        font-size: 1.9em;
                        color: $blue;
                    }//span
                  }//p
                }//li
            }//ul
            .up{
                display: flex;
                justify-content: space-around;
                li{
                    margin-right: 20px;
                    margin-bottom: 45px;
                    &:last-child{
                        margin-right: 0;
                    }//li:last-child
                }//li
            }//.up
        .dwn{
            display: flex;
            justify-content: center;
            li{
                margin-right: 20px;
                &:last-child{
                    margin-right: 0;
                }//li:last-child
            }//li
        }//.dwn
    }//.main1
    .main2{
            width: 980px;
            margin: 0 auto 95px;
            position: relative;
            counter-reset: section;
            h3{
                font-size: 3em;
                font-weight: bold;
                text-align: center;
                color: $red;
                margin-bottom: 45px;
            }//h3
            ul{
                box-sizing: border-box;
                li{
                    display: flex;
                    justify-content: space-between;
                    border: 0.5px solid $blue;
                    border-radius: 5px;
                    padding: 40px;
                    margin: 90px auto 50px;
                    position: relative;
                        div{
                            height: 300px;
                            &:before{
                                counter-increment: section;
                                content: counter(section);
                                font-size: 50px;
                                font-weight: bold;
                                text-align: center;
                                position: absolute;
                                top: -25px;
                                left: -25px;
                                width: 60px;
                                height: 60px;
                                border-radius: 50%;
                                color: #fff;
                                background: $orange;
                                line-height: 1.3;
                            }//before
                        h4{
                            font-size: 150%;
                            font-weight: bold;
                            color: $orange;
                            margin-bottom: 30px;
                        }//h4
                        p{
                            line-height: 1.8;
                            font-size: 85%;
                        }//p
                        .m3{
                            padding-top: 25px;
                            }
                }//div
            }//li
        }//ul
    }//.main2
}//main
//---------------------------index.html----------------------------//
    
//---------------------------共通----------------------------------//    
aside{
    width: 980px;
    display: flex;
    justify-content: center;
    margin: 0 auto 95px;
    div{
        padding-right: 72px;
        &:last-child{
            padding-right: 0;
            padding-left: 72px;
        }//div:last-child
        a{
            width: 240px;
            display: inline-block;
            color: #fff;
            background: #1f4fa4;
            text-align: center;
            padding: 22px 0;
            font-family: $mincho;
            font-size: 1.4em;
            letter-spacing: 3px;
        }//a
    }//div
}//aside

footer{
    width: 100%;
    margin: 0 auto;
    background: #f3f8f8;
    .pagetop{
        width: 980px;
        height: 70px;
        border-bottom: 1px solid #e6e6e6;
        margin: 0 auto;
        a{
            box-sizing: content-box;
            width: 980px;
            height: 100%;
            color: #8f8f8f;
            display: block;
            padding: 20px 0;
            margin: 0 auto;
            text-align: center;
            font-size: 70%;
            .top{
                font-size: 1.8em;
                color: $black;
                padding-bottom: 5px;
            }//.top
        }//a
    }//.pagetop
    .footer-up{
            width: 100%;
            background: #f6f6f6;
            padding: 30px 0;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .fb{
                display: block;
                font-size: 45px;
                color: $blue;
                width: 150px;
                height: 45px;
                text-align: center;
                line-height: 45px;
            }//.fb
            a{
                margin-right: 50px;
                &:last-child{
                    margin-right: 0;
                }
                div{
                    height: 45px;
                }//div
            }//a
        .footer-l{
                display: block;
                text-align: center;
                padding: 20px 0;
            }//.footer-l
            img{
                display: block;
                text-align: center;
                margin: 0 auto;
            }//img
            p{
                height: 33.6px;
                font-size: 70%;
                text-align: center;
                margin-top: 16px;
                color: #8f8f8f;
            }//p
    }//.footer-up    
    .footer-dwn{
        width: 100%;
        height: 80px;
        background: #f6f6f6;
        color: #8f8f8f;
        font-size: 70%;
        border-top: 1px solid #e6e6e6;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
        div{
            float: left;
        .logo{
            text-align: center;
        }//.logo
        p a{
            color: #8f8f8f;
            display: block;
            padding: 35px 0;
            margin-left: 10px;
        }//p a
        }
        small{
            margin-right: 20px;
            padding: 35px;
            float: right;
        }//small
    }//.footer-dwn
}//footer
//---------------------------共通----------------------------------//

//-------------------------married.html----------------------------//
.page2, .page3{//h2
    color: $black;
}
.married{//main
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 95px;
    counter-reset: count;
        .intro{
            color: $gray;
            font-family: $mincho;
            font-size: 1em;
            text-align: center;
            margin: 0 auto 70px;
            line-height: 1.5;
    }
        h3{
        font:{
            family: $gothic;
            size: 1.8em;
            text-align: left;
        }
        margin-bottom: 40px;
    }
}

.phase{//section
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto 95px;
    position: relative;
        &:before{//矢印
            content: "";
            width: 70px;
            background: $orange;
            opacity: 0.3;
        }
        &:after{//矢印先端
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 35px 35px 0 35px;
            border-color: #e87e0c transparent transparent transparent;
            line-height: 0px;
            _border-color: #e87e0c #000000 #000000 #000000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
            opacity: 0.3;
            bottom: -35px;
            left: 0;
        }//after
}//.phase
    .phase h4{//step
            font:{
                family: $gothic;
                size: 2.4em;
            }
            color: $orange;
            text-align: center;
            position: absolute;
            top: 15%;
            left: 15px;
            span{//STEP
                font:{
                    size: 40%;
                    weight: bold;
                }
                letter-spacing: 1.2px;
                &:after{//改行
                    content: "\A";
                    white-space: pre;
                }
            }
        }//h4
    .phase dl{//説明
            width: 640px;
            padding: 40px;
            position: relative;
            font-family: $gothic;
            dt{
                font:{
                    size: 1.5em;
                    weight: bold;
                }
                color: $black;
                padding-left: 60px;
                &:before{
                    content: "";
                    position: absolute;
                    top: 25px;
                    left: 0;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: $orange;
                    margin-left: 40px;
                }//dt:before
            }//.dt
            dd{
                color: $gray;
                font:{
                    size: 0.9em;
                    weight: thin;
                }
                padding: 30px;
                line-height: 2;
                letter-spacing: 0.2;
            }//dd
        }//dl
.phase dl{//step2
    position: relative;
    .count{//カウンター関数
        &:before{
            counter-increment: count;
            content: counter(count);
            position: absolute;
            color: #fff;
            text-align: center;
            line-height: 2;
        }
    }
}

//-------------------------married.html----------------------------//

//-------------------------price.html----------------------------//

.price{//main
    max-width: 1200px;
    width: 100%;
    margin: 95px auto;
    font-family: $gothic;
    h3{
        width: 100%;
        position: relative;
        text-align: center;
        display: inline-block;
        margin-bottom: 95px;
        color: $black;
        font:{ 
            size: 2em;
        }
//        以下で線を表示
        &:before{
            content: "";
            position: absolute;
            bottom: -1em;//線の上下位置
            left: 50%;
            display: inline-block;
            width: 60px;//線の長さ
            height: 2px;//線の太さ
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);//位置調整
            background: $red;
        }//h3:before
    }//h3
}//.price

.price dl{//料金dl
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    letter-spacing: 1.2px;
    border: 1px solid $orange;
    background: $orange;
    margin: 0 auto;
    dt{
        width: 100%;
        display: flex;
        align-items: baseline;
        font-size: 2em;
        color: #fff;
        background: $orange;
        padding: 20px;
        position: relative;
        strong{
            display: inline-block;
            padding-left: 100px;
            font:{
                size: 1.3em;
                weight: bold;
            }
          }//strong
        span{
            display: inline-block;
            font-size: 0.6em;
            font-weght: bold;
        }//span
        a{
            display: block;
            color: #fff;
            background: rgba(232, 125, 12, 0.3);
            font-size: 0.6em;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 15px 20px;
            .plus{
                display: inline-block;
                padding: 0 10px;
                font-size: 1.5em;
            }//.plan
        }//a
    }//dt
}//.price dl

.price dl{//料金dl
        dd{//内訳
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: $black;
            background: #fff;
            border: 1px solid $orange;
            padding: 40px;
            text-align: center;
            font-size: 1.5em;
            div{
                padding: 0 50px;
                line-height: 2;
                span{//税込
                    display: block;
                    font-size: 0.8em;
                    color: $orange;
                }//span
                strong{//税抜
                    display: block;
                    font-size: 1.5em;
                    color: $orange;
                    line-height: 1;
                    span{//税抜円
                        display: inline;
                        font-size: 0.6em;
                    }//span
                }//strong
            }//div
        .plus2{
                font-size: 2em;
                color: $gray;
                opacity: 0.5;
            }//.plus2
    }//dd
}//.price .dl

.price .marriage{//成婚料
        width: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 95px;
        dt{//成婚料
            width: 25%;
            display: inline-block;
        }//dt
        dd{//税込
            width: 50%;
            display: inline-block;
            text-align: left;
            color: #fff;
            background: $orange;
            font-size: 1.3em;
            strong{//税抜
                font-size: 2em;
                font-weight: bold;
            }
    }//dd
}//.price .marriage

.price section > div{//会費説明
    color: $black;
    width: 100%;
    text-align: center;
    margin-bottom: 95px;
    line-height: 2;
    h4{
        font-size: 2em;
    }
}

.price ul{//入会資格
    width: 100%;
    text-align: center;
    margin-bottom: 95px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2;
}

.price{//ご入会時に必要なもの
    counter-reset: counter;
    .must{//h3
    color: $red;
    }//.must
    ol{
        width: 55%;
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        margin: 0 auto 95px;
        li{
            width: 100%;
            text-align: left;
            font-size: 1.2em;
            font-weight: bold;
            color: $red;
            opacity: 0.6;
            line-height: 2;
                 &:before{
                    counter-increment: counter;
                    content: counter(counter)".";
                    line-height: 2;
                    font-size: 1.5em;
                    color: $red;
                    margin-right: 10px;                     
                }//li:before
            }//li
        }//ol
}//.price

.price{//個人情報保護方針へのリンク
    div{
        .privacy{//a
            color: $black;
            .right{//矢印
                color: $red;
                opacty: 0.6;
                margin-right: 10px;
            }//.right
        }//.privacy
    }//div
}//.price
//-------------------------price.html----------------------------//

//-------------------------company.html--------------------------//

.page4{//header
    margin-bottom: 80px + 95px;
}//.page4

.company{//main
    width: 100%;
    margin: 0 auto;
    h2{//タイトル
        width: 980px;
        text-align: left;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0 auto 95px;
    }//h2
}//.company

.company{//会社概要
    width: 100%;
    box-sizing: border-box;
        section{//
            display: flex;
            justify-content: center;
            flex-flow: wrap;
            margin: 0 auto;
            font-family: $gothic;
            margin-bottom: 95px;
        table{
            tr{
                width: 980px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-align: left;
                border: 1px solid #fff;
                background: #e4e4e4;
                th{
                    width: 200px;
                    font-size: 1.2em;
                    padding: 20px;
                }//th
                td{
                    width: 980px - 200px;
                    background: #f3f8f8;
                    padding: 20px;
                    line-height: 1.5;
                }//td
            }//tr
        }//table
    }//section
}//.company

.company{
    figure{
        width: 980px;
        margin: 0 auto 95px;
    }
}


//-------------------------company.html--------------------------//

//-------------------------enquiry.html--------------------------//


.enquiry{//main
    width: 100%;
    h2{//タイトル
        width: 800px;
        text-align: left;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0 auto 95px;
    }//h2
}//.enquiry

form{
    box-sizing: border-box;
    width: 800px;
    margin: 0 auto;
    fieldset{
        display: flex;
//        justify-content: space-between;
        div{
            width: 50%;
            overflow: hidden;
//            display: flex;
//            justify-content: space-between;
            .left{
                width: 200px;
                float: left;
            }
            .right{
                width: 200px;
                float: right;
            }
        }
    }
}

//-------------------------enquiry.html--------------------------//