/* Scss Document */
@charset "utf-8";

//---------------------------共通----------------------------------// 
//-------------------------Reset CSS-------------------------------//
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//-------------------------------Reset CSS--------------------------//

//---------------------------共通----------------------------------// 

//変数

$rd: #ff0000;
$bl: #1f4fa4;
$or: #e87d0c;
$bk: #2d2d2d;

//フォント
@font-face {
  font-family: "YuGothic M";
  src: local("Yu Gothic Medium");
}
@font-face{
    font-family: "noto";
    src: url("../fonts/NotoSansCJKjp-Regular.eot")format('eot'),url("../fonts/NotoSansCJKjp-Regular.woff")format('woff');
}
body{//body
    font-family: 'Kameron', 'noto', 'Verdana', 'Arial', '游ゴシック Medium', '游ゴシック体', 'YuGothic', 'YuGothic M','メイリオ', 'Meiryo', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'Roboto', 'Droid Sans', 'sans-serif';
    counter-reset: section;
}

.container{//全体
    width: 100%;
    margin: 0 auto;
}

a{//共通aタグ
    text-decoration: none;
}
//---------------------------共通----------------------------------// 

//ヘッダー
header img{
    width: 100%;
    margin: 0 auto;
}
header{
    margin-bottom: 30px;
.header{//ヘッダーメニュー
        background: #fff;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        box-shadow: 0 1px 17px 0 rgba(50, 50, 50, .15);
    .gnav{
        width: 650px;
        ul{
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            li{
                width: 130px;
                text-align: center;
                border-left: 0.2px solid #000;
                &:last-child{
                    border-right: 0.2px solid #000;
                }//&:last-child
                 a{
                    height: 19px;
                    color: $bk;
                    display: block;
                    line-height: 19px;
                    font-size: 85%;
                     &:hover{
                         opacity: 0.5;
                     }//hover
                }//a   
            }//li
        }//ul
    }//.gnav

    .header-right{//ヘッダー右メニュー
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80%;
        color: #fff;
        margin-right: 40px;
        letter-spacing: 2px;
        text-align: center;
        .tel{//tel
            width: 150px;
            height: 30px;
            line-height: 30px;
            font-family: 'noto';
            font-weight: bold;
            background: $bl;
            .telicon{
                font-size: 80%;
                padding-right: 5px;
            }//.telicon
        }//.tel
        a{
            width: 150px;
            height: 30px;
            line-height: 30px;
            margin-left: 16px;
            color: #fff;
            background: $bl;
            display: block;
            .mailicon{
                padding-right: 5px; 
            }//.mailicon
            span{
                font-weight: bold;
                border-radius: 8px;
                background: #fff;
                color: $bl;
                padding: 0 8px;
                margin-right: 5px;
            }//span
        }//a
    }//.header-right
    }//.header
    h2{
        position: absolute;
        font-family: 'Sawarabi Mincho';
        font-size: 220%;
        color: #fff;
        top: 50%;
        right: 20px;
    }//h2  
}//    header

.logo{//ヘッダーフッダーロゴ
        display: block;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 400px;
        height: 80px;
        margin-left: 40px;
    }//.logo
//---------------------------共通----------------------------//

//---------------------------index.html----------------------------//

.num{//.num
    width: 100%;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 95px;
        li{
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background: #e87d0c;
            color: #fff;
            margin-right: 30px;
            font-size: 1.4em;
            font-weight: bold;
            display: inline-block;
            position: relative;
            line-height: 1.5;
            &:last-child{
                margin-right: 0;
            }//li:last-child
            span{
                font-size: 2em;
            }//span
            .mid{
                font-size: 120%;
            }//.mid
            h3{
                position: absolute;
                top: 50%;
                left: 0%;
                width: 250px;
                text-align: center;
                -ms-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }//h3
        }//li
    }//ul
}//.num

//トップメニュー
.menu{
    display: none;
    padding: 95px 240px;
    width: 980px;
    margin: 0 auto;
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
         border: 3px solid #fff;
         margin-right: 76px;
         margin-bottom: 76px;
         padding: 0;
         position: relative;
            &:nth-child(3n){
                margin-right: 0;
            }//nth-child(3n)
            &:nth-child(n+4){
                margin-bottom: 0;
            }//nth-child(n+4)
        a{
            line-height: 0;
            display: block;
            h3{
                padding: 0.8em 10px;
                font-size: 100%;
                background-color: #000;
                color: #fff;
                position: absolute;
                bottom: 10px;
                left: -20px;
                line-height: 1em;
            }//h3
        }//a
        }//li
    }//ul
}//menu


main{
    width: 100%;
    margin-bottom: 95px;
    .main1{
        width: 980px;
        margin: 0 auto 95px;
        h3{
            font-size: 3em;
            font-weight: bold;
            text-align: center;
            color: $rd;
            line-height: 1.5em;
        }//h3
        h4{
            font-family: 'Sawarabi Mincho';
            font-size: 1em;
            font-weight: bold;
            text-align: center;
            margin-bottom: 70px;
        }//h4
        ul{
            li{
                img{
                    margin-bottom: 20px;
                }//img
                    p{
                        font-size: 100%;
                        font-weight: 800;
                        color: #000;
                        text-align: center;
                        line-height: 1.5;
                    span{
                        font-size: 1.9em;
                        color: $bl;
                    }//span
                  }//p
                }//li
            }//ul
            .up{
                display: flex;
                justify-content: space-around;
                li{
                    margin-right: 20px;
                    margin-bottom: 45px;
                    &:last-child{
                        margin-right: 0;
                    }//li:last-child
                }//li
            }//.up
        .dwn{
            display: flex;
            justify-content: center;
            li{
                margin-right: 20px;
                &:last-child{
                    margin-right: 0;
                }//li:last-child
            }//li
        }//.dwn
    }//.main1
    .main2{
            width: 980px;
            margin: 0 auto 95px;
            position: relative;
            h3{
                font-size: 3em;
                font-weight: bold;
                text-align: center;
                color: $rd;
                margin-bottom: 45px;
            }//h3
            ul{
                box-sizing: border-box;
                li{
                    display: flex;
                    justify-content: space-between;
                    border: 0.5px solid $bl;
                    border-radius: 5px;
                    padding: 40px;
                    margin: 90px auto 50px;
                    position: relative;
                        div{
                            height: 300px;
                            &:before{
                                counter-increment: section;
                                content: counter(section);
                                font-size: 50px;
                                font-weight: bold;
                                text-align: center;
                                position: absolute;
                                top: -25px;
                                left: -25px;
                                width: 60px;
                                height: 60px;
                                border-radius: 50%;
                                color: #fff;
                                background: $or;
                                line-height: 1.3;
                            }//before
                        h4{
                            font-size: 150%;
                            font-weight: bold;
                            color: $or;
                            margin-bottom: 30px;
                        }//h4
                        p{
                            line-height: 1.8;
                            font-size: 85%;
                        }//p
                        .m3{
                            padding-top: 25px;
                            }
                }//div
            }//li
        }//ul
    }//.main2
//---------------------------index.html----------------------------//
    
//---------------------------共通----------------------------------//    
    .contact{
        width: 980px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        div{
            padding-right: 72px;
            &:last-child{
                padding-right: 0;
                padding-left: 72px;
            }//div:last-child
            a{
                width: 240px;
                display: inline-block;
                color: #fff;
                background: #1f4fa4;
                text-align: center;
                padding: 22px 0;
                font-family: 'Sawarabi Mincho';
                font-size: 1.4em;
                letter-spacing: 3px;
            }//a
        }//div
    }//.contact
}//main

footer{
    width: 100%;
    margin: 0 auto;
    background: #f3f8f8;
    .pagetop{
        width: 980px;
        height: 70px;
        border-bottom: 1px solid #e6e6e6;
        margin: 0 auto;
        a{
            box-sizing: content-box;
            width: 980px;
            height: 100%;
            color: #8f8f8f;
            display: block;
            padding: 20px 0;
            margin: 0 auto;
            text-align: center;
            font-size: 70%;
            .top{
                font-size: 1.8em;
                color: $bk;
                padding-bottom: 5px;
            }//.top
        }//a
    }//.pagetop
    .footer-up{
            width: 100%;
            background: #f6f6f6;
            padding: 30px 0;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .fb{
                display: block;
                font-size: 45px;
                color: $bl;
                width: 150px;
                height: 45px;
                text-align: center;
                line-height: 45px;
            }//.fb
            a{
                margin-right: 50px;
                &:last-child{
                    margin-right: 0;
                }
                div{
                    height: 45px;
                }//div
            }//a
        .footer-l{
                display: block;
                text-align: center;
                padding: 20px 0;
            }//.footer-l
            img{
                display: block;
                text-align: center;
                margin: 0 auto;
            }//img
            p{
                height: 33.6px;
                font-size: 70%;
                text-align: center;
                margin-top: 16px;
                color: #8f8f8f;
            }//p
    }//.footer-up    
    .footer-dwn{
        width: 100%;
        height: 80px;
        background: #f6f6f6;
        color: #8f8f8f;
        font-size: 70%;
        border-top: 1px solid #e6e6e6;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
        div{
            float: left;
        .logo{
            text-align: center;
        }//.logo
        p a{
            color: #8f8f8f;
            display: block;
            padding: 35px 0;
            margin-left: 10px;
        }//p a
        }
        small{
            margin-right: 20px;
            padding: 35px;
            float: right;
        }//small
    }//.footer-dwn
}//footer
//---------------------------共通----------------------------------//

//-------------------------married.html----------------------------//
//変数
$gr: #8f8f8f;

.phase{//step
    display: flex;
    justify-content: space-between;
    width: 980px;
    margin: 0 auto 95px;
    position: relative;
    .arrow{//矢印
        box-sizing: border-box;
        display: table-cell;
        color: $or;
        background: rgba(232, 125, 12, 0.3);
        position: relative;
        width: 30px;
//        padding-right: 25px;
        &:after{//矢印先端
            box-sizing: border-box;
            content: "";
            display: block;
            position: absolute;
            border: 35px solid transparent;
            border-top-color: $or;
            opacity: 0.3;
            bottom: -70px;
            left: 0;
        }//after
        .step{
            position: absolute;
            top: 45%;
            left: 20px;
        }
        .no{
            position: absolute;
            top: 50%;
            left: 35px;
        }
    }//.arrow
    div{
            padding: 40px;
        }
}//.phase

.married h3{
            width: 980px;
            color: $gr;
            font-family: 'Sawarabi Mincho';
            font-size: 1em;
//            font-weight: bold;
            text-align: center;
            margin: 0 auto 70px;
            line-height: 1.5;
}

//-------------------------married.html----------------------------//